@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Kanit', ui-sans-serif, system-ui, sans-serif;

  --color-green-50: #E6FBF8;
  --color-green-100: #CCF7F1;
  --color-green-200: #99EFE3;
  --color-green-300: #66E7D5;
  --color-green-400: #33DFC7;
  --color-green-500: #00C9B2;
  --color-green-600: #00A392;
  --color-green-700: #007D71;
  --color-green-800: #005851;
  --color-green-900: #003230;
  --color-green-950: #001918;
}
